<% include partials/header %>

	<div class="jumbotron text-center">
		<h1>Oops! Something went wrong. You should go <a href="/">home</a>.</h1>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Local Signup</a>

</div>

<% include partials/footer %>